[submodule ".registry"]
	path = .registry
	url = https://github.com/bdc-proj/universe
	shallow = true
	branch = HEAD
[submodule "bdc"]
	path = bdc
	url = https://github.com/brunobrr/bdc
	shallow = true
	branch = master
	registered = true
